{%extends 'base.html'%}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="background-color: #E97451">
    <div class="container">
        <img src="https://assets.materialup.com/uploads/f5f2ffb2-bcc7-4f11-acbf-24f0109cd5fd/preview.gif" alt="gif of instagram" class="rounded-circle img-fluid" width="450"  style="position:fixed;top:30%;left: 30%; bottom: 30%; right: 30%;">
      
    </div>
      
   
</body>
<script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</html>
{%endblock%}