<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navMain">
    <div class="container">
        <a class="smooth-scroll" href="/"><i style="font-size: 100px; color:teal;" class="fab fa-instagram">  <br>  </i></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <p style="font-family: 'Billabong', cursive; font-size: 30px; color:white;
        ">INSTABAE</p>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 nav-search">
                        
                            <input class="form-control my-2 my-sm-0 search-input" name="search" type="search" placeholder="Search Users" aria-label="Search">
                        </form>

                        <div class="col-sm-6 col-md-6">
                                {% if user.is_authenticated %}
                                <ul>
                                  <li class="dropdown">
                                    <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                                              <span class="caret"></span>
                                          </a>
                                    <ul class="dropdown-menu" role="menu">
                                      <li>
                                        <!-- <a href="/index.html">Home</a> -->
                                      </li>
                                      <li>
                                        <a href="/accounts/password/change">Change Password</a>
                                      </li>
                                      <li>
                                        <a href="/logout">Logout</a>
                                      </li>
                                    </ul>
                                  </li>
                                </ul>
                                {% else %}
                                <li>
                                  <a class='btn btn-default' href="/accounts/login">Login</a>
                                </li>
                    
                                {% endif %}
                              </div>    
                    </div>
                </div>
            </div>
            
            <ul class="navbar-nav">
                <li class="nav-item">
                
                </li>
            </ul>
        </div>
        
    </div>
</nav>