{%extends 'base.html'%}
{% block content %}
<div class="container">

    <div class="row">
        {% if profile %}
        <h2>Found {{ profile|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 profile for the search term  {{message}}</h2>
       {% endif %}
    </div>

    <div class="row">
    
     {% if profile %}
      {% for profile in profiles %}
       <div class="col-sm-6 col-md-3">
       </div>
       {% endfor %}
       {% endif %}
    </div>
</div>
{% endblock %}